<a href="home.html">[Regresar]</a>

<h1><center>Sistema de Puntuacion</center></h1>

<h2>Listado de Clubes</h2>

<table border=1>
    <tr>	
		<td>ID</td>
		<td>Nombre</td>
		<td>Ciudad</td>
		<td>Logo</td>
		<td>Operaciones</td>
	</tr>
	<tr>
		<td>1</td>
		<td>Alianza Lima</td>
		<td>Lima</td>
		<td><img width="30" src="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/092011/alianza_lima_0.ai_.png?itok=g8J4GXhr" /></td></td>
		<td><a href="http://rpp.pe/noticias/alianza-lima">Pag. Oficial</a></td>
	</tr>
	<tr>
        <td>2</td>
		<td>Universitario</td>
		<td>Lima</td>
		<td><img width="30" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Escudo_del_Club_Universitario_de_Deportes.svg/1200px-Escudo_del_Club_Universitario_de_Deportes.svg.png" /></td>
		<td><a href="http://rpp.pe/noticias/universitario">Pag. Oficial</a></td>
	</tr>
	<tr>
        <td>3</td>
		<td>SC</td>
		<td>Lima</td>
		<td><img width="25" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Escudo_del_Club_Sporting_Cristal.svg/1200px-Escudo_del_Club_Sporting_Cristal.svg.png" /></td>
		<td><a href="http://rpp.pe/noticias/sporting-cristal">Pag. Oficial</a></td>
	</tr>
	<tr>
        <td>4</td>
		<td>UCV</td>
		<td>Lima</td>
		<td><img width="25" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/6b/Insignia_UCV_2013.png/200px-Insignia_UCV_2013.png" /></td>
		<td><a href="https://es.wikipedia.org/wiki/Universidad_C%C3%A9sar_Vallejo_Club_de_F%C3%BAtbol">Pag. Oficial</a></td>		
	</tr>
</table>  
<br>


<table border=1>
    <tr>	
		<td>ID</td>
		<td>Nombre</td>
		<td>PJ</td>
		<td>PG</td>
		<td>PP</td>
		<td>...</td>
		<td>Puntos</td>
	</tr>
	<tr>

		<td>1</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
        <td>2</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
        <td>3</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
        <td>4</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>		
	</tr>
</table>  
<br>

<table border=1>
    <tr>	
		<td>ID</td>
		<td>Equipo Local</td>
		<td>Equipo Visita</td>
		<td>GL</td>
		<td>GV</td>
		<td>R</td>
		<td>Operaciones</td>
	</tr>
	<tr>
		<td>1</td>
		<td>Universitario</td>
		<td>Alianza Lima</td>
		<td>1</td>
		<td>3</td>
		<td>V</td>
		<td></td>
	</tr>
	<tr>
        <td>2</td>
		<td>SC</td>
		<td>UCV</td>
		<td>2</td>
		<td>2</td>
		<td>E</td>
		<td></td>
	</tr>
	<tr>
        <td>3</td>
		<td>Boys</td>
		<td>Muni</td>
		<td>5</td>
		<td>4</td>
		<td>L</td>
		<td></td>
	</tr>
	<tr>
        <td>4</td>
		<td>Aurich</td>
		<td>Cienciano</td>
		<td>0</td>
		<td>0</td>
		<td>E</td>
		<td></td>		
	</tr>
</table>	




