<a href="home.html">[Regresar]</a>

<b>Negrita</b> <br />

<i>Cursiva</i> <br />

<u>Sub-rayado</u> <br />

<ul>
	<li>uno</li>
	<li>dos</li>
	<li>tres</li>
</ul>

<ol start="4" type="a">
	<li>uno</li>
	<li>dos</li>
	<li>tres</li>
</ol>

<h1>titulazazaso</h1>
<h2>titulazaso</h2>
<h3>titulaso</h3>
<h4>titulo</h4>
<h5>titulito</h5>
<h6>titulitito</h6>


<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed<sub>do</sub> eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim <sup>ad</sup> minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe 
</p> 
<p>
Lorem ipsum <small>dolor</small> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut <big>labore</big> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe 
</p> 


<span style="color: blue"><b>hola</b></span>


<p align="right">
Lorem ipsum uip ex ea commodo consequat. Duis aute irure dolor in reprehe 
</p> 
<p align="center">
Lorem ipsum uip ex ea commodo consequat. Duis aute irure dolor in reprehe 
</p> 
<p align="left">
Lorem ipsum uip ex ea commodo consequat. Duis aute irure dolor in reprehe 
</p> 

<hr />

	<blockquote>
	Lorem ipsum  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam.

		<blockquote>
		Lorem ipsum  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe 
		</blockquote> 

	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe 
	</blockquote> 


	<hr>

Imagen:

<img width="400" src="https://boygeniusreport.files.wordpress.com/2015/06/funny-cat.jpg" />


	<hr>