<a href="home.html">[Regresar]</a>

<form>

	<input> <br>

	<input type="text" value="Edmar"> <br>

	<input name="nombre" placeholder="Escribe tu nombre"> <br>

	<input type="date"> <br>

	<input type="checkbox" value="m"> Aji <br>
	<input type="checkbox" value="m"> Ketchup <br>
	<input type="checkbox" value="m"> Mostaza <br>

	<input type="radio" name="dia" value="L"> Lunes <br> 
	<input type="radio" name="dia" value="M"> Miercoles <br> 
	<input type="radio" name="dia" value="V"> Viernes <br> 

	<input type="number" name=""> <br> 

	<input type="color" name=""> <br> 

	<input type="month" name=""> <br>  

	<input type="week" name=""> <br>  

	<input type="range"  name="points" min="0" max="10"> <br>  

	<input type="password" name=""> <br> 




	<input type="submit" value="Guardar"> <br> 

</form>