<a href="home.html">[Regresar]</a>

<style>
  td.f{
  	background-color: red;
  }
  td.g{
		background-color: lightsalmon;
	}
	 td.h{
		background-color: blue;
	}
	 td.i{
		background-color: yellow;
	}
	 td.j{
		background-color: green;
	}
	
</style>

</table>
<br />

<style>
	body table{
		font-size: 30px;
		text-align: center;
	}

	table.ludo td {
		width: 55px;
		height: 55px;
		
	}

</style>

<table class="ludo" border=1>
	<tr>
        <td colspan="4" rowspan="4"></td>
		<td></td>
		<td></td>
		<td>&#8595;</td>
		<td colspan="4" rowspan="4"></td>
	</tr>
    <tr>
        <td></td>
		<td class="f"></td>
		<td></td>
	</tr>
    <tr>
        <td></td>
		<td class="f"></td>
		<td></td>
	</tr>
    <tr>
        <td></td>
		<td class="f"></td>
		<td></td>
	</tr>
    <tr>
      
        <td>&#8594;</td>
		<td></td>
		<td></td>
		<td></td>
        <td></td>
		<td class="f"></td>
		<td></td>
		<td></td>
        <td></td>
		<td></td>
		<td></td>
	</tr>
    <tr>
        <td></td>
		<td class="h"></td>
		<td class="h"></td>
		<td class="h"></td>
        <td class="h"></td>
		<td class="g"></td>
		<td class="j"></td>
		<td class="j"></td>
        <td class="j"></td>
		<td class="j"></td>
		<td></td>
	</tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
		<td class="i"></td>
		<td></td>
		<td></td>
        <td></td>
		<td></td>
		<td>&#8592;</td>
	</tr>
    <tr>
        <td colspan="4" rowspan="4"></td>
		<td></td>
		<td class="i"></td>
		<td></td>
		<td colspan="4" rowspan="4"></td>
	</tr>
    <tr>
        <td></td>
		<td class="i"></td>
        <td></td>
	</tr>
    <tr>

        <td></td>
		<td class="i"></td>
		<td></td>
	</tr>
    <tr>
        <td></td>
		<td></td>
        <td>&#8593;</td>
	</tr> 
    </tr>

</table>