<a href="home.html">[Regresar]</a>

uno

<b>  dos </b>


<table border=1>
	<tr> <td> tablita 1x1 </td> </tr>
</table>
<br />


<table border=1>
	<tr>
		<td>tablita 2x2</td>
		<td>a</td>
	</tr>
	<tr>
		<td>b</td>
		<td>c</td>
	</tr>
</table>
<br />


<table border=1>
	<tr>
		<td colspan="2">titulo</td>
	</tr>
	<tr>
		<td>b</td>
		<td>c</td>
	</tr>
	<tr>
		<td>b</td>
		<td>c</td>
	</tr>
	<tr>
		<td>b</td>
		<td>c</td>
	</tr>
</table>
<br />



<table border=1 width="200">
	<tr>
		<td rowspan="4">titulo</td>
		<td>a</td>
	</tr>
	<tr>
		<td>b</td>
	</tr>
	<tr>
		<td>c</td>
	</tr>
	<tr>
		<td>d</td>
	</tr>
</table>
