<a href="home.html">[Regresar]</a>

<style>
	td.esquina{width: 70px; height: 70px;}
	td.pv     {width: 30px;	height: 50px;}
	td.ph     {width: 50px;	height: 30px;}
	td.cv     {width: 10px;	height: 30px;}
	td.ch     {width: 30px;	height: 10px;}
	td.g4 {background-color: orange;}
	td.g5 {background-color: pink;}
	td.g6 {background-color: red;}
	td.g7 {background-color: yellow;}
	td.g8 {background-color: green;}
	td.g9 {background-color: blue;}
	td.g10 {background-color: purple;}
	td.g11 {background-color: lightblue;}
</style>
<table border="1">
	<tr>
		<td class="esquina" colspan="2" rowspan="2"></td>
		<td class="pv"></td>
		<td class="pv" rowspan="2"></td>
		<td class="pv"></td>
		<td class="pv"></td>
		<td class="pv" rowspan="2"></td>
		<td class="pv"></td>
		<td class="pv"></td>
	<td class="pv" rowspan="2"></td>
		<td class="pv"></td>
		<td class="esquina" colspan="2" rowspan="2"></td>
	</tr>
	<tr>
		<td class="ch g6"></td>
		<td class="ch g6"></td>
		<td class="ch g6"></td>
		<td class="ch g7"</td>
		<td class="ch g7"></td>
		<td class="ch g7"></td>
		
	</tr>
	<tr>
		<td class="ph"></td>
		<td class="cv g4"></td>
		<td colspan="9" rowspan="9"></td>
		<td class="cv g8"></td>
		<td class="ph"></td>
	</tr>
	<tr>
		<td class="ph"></td>
		<td class="cv g4"></td>
		<td class="cv g8"></td>
		<td class="ph"></td>
	</tr>
	<tr>
		<td class="ph" colspan="2"></td>
		<td class="ph" colspan="2"></td>
	</tr>
	<tr>
		<td class="ph"></td>
		<td class="cv g4"></td>
		<td class="cv g8"></td>
		<td class="ph"></td>
	</tr>
	<tr>
		<td class="ph" colspan="2"></td>
		<td class="ph" colspan="2"></td>
	</tr>
	<tr>
		<td class="ph"></td>
		<td class="cv g5"></td>
		<td class="ph" colspan="2"></td>
	</tr>
	<tr>
		<td class="ph"></td>
		<td class="cv g5"></td>
		<td class="cv g9"></td>
		<td class="ph"></td>
	</tr>
	<tr>
		<td class="ph" colspan="2"></td>
		<td class="cv" colspan="2"></td>
	</tr>
	<tr>
		<td class="ph"></td>
		<td class="cv g5"></td>
		<td class="cv g9"></td>
		<td class="ph"></td>
	</tr>
	<tr>
		<td class="esquina" colspan="2" rowspan="2"></td>
		<td class="ch g11"></td>
		<td class="ch g11"></td>
		<td class="ch" rowspan="2"></td>
		<td class="ch g11"></td>
		<td class="ch" rowspan="2"></td>
		<td class="ch g10"></td>
		<td class="ch" rowspan="2"></td>
		<td class="ch" rowspan="2"></td>
		<td class="ch g10"></td>
		<td class="esquina" colspan="2" rowspan="2"></td>
	</tr>
	<tr>
		<td class="pv"></td>
		<td class="pv"></td>
		<td class="pv"></td>
		<td class="pv"></td>
		<td class="pv"></td>

	</tr>
</table>