<a href="home.html">[Regresar]</a>

<style>
  td.f{
  	background-color: lightgreen;
  }
</style>

<h1><u>TORNEO DE VERANO 2018</u></h1><br />

<table border=1>
	<tr>
		<td colspan="7">Tabla de posiciones</td>
	</tr>
	<tr>
		<td>Equipos</td>
		<td>Pj</td>
		<td>DG</td>
		<td class="f">GF</td>
		<td>GC</td>
		<td>PP</td>
		<td>PTS</td>


	</tr>
	<tr>
		<td>AL</td>
		<td>7</td>
		<td>20</td>
		<td>21</td>
		<td>7</td>
		<td>20</td>
		<td>5</td>
	</tr>
	<tr>
		<td>SC</td>
		<td>7</td>
		<td>17</td>
		<td>18</td>
		<td>6</td>
		<td>3</td>
		<td>13</td>

	</tr>
    <tr>
    	<td>RG</td>
		<td>7</td>
		<td>14</td>
		<td>14</td>
		<td>5</td>
		<td>4</td>
		<td>9</td>
	</tr>
    <tr>
    	<td>UC</td>
		<td>9</td>
		<td>13</td>
		<td>4</td>
		<td>7</td>
		<td>3</td>
		<td>7</td>
	</tr>
    <tr>
    	<td>UC</td>
		<td>7</td>
		<td>13</td>
		<td>4</td>
		<td>7</td>
		<td>20</td>
		<td>4</td>
		</tr>
    <tr>
    	<td>UC</td>
		<td>3</td>
		<td>13</td>
		<td>4</td>
		<td>4</td>
		<td>7</td>
		<td>1</td>
</tr>
    <tr>
    	<td>UC</td>
		<td>5</td>
		<td>1</td>
		<td>9</td>
		<td>8</td>
		<td>3</td>
		<td>1</td>


</table>
<br />

<img width="750" src="https://imvid.depor.com/files/article_main/uploads/2017/01/24/5887eb509dcc0.jpeg" />


	<hr>

</table>
<br />

<style>
	body table{
		font-size: 12px;
		text-align: center;
	}

	table.ajedrez td {
		width: 80px;
		height: 80px;
		font-size: 50px;
	}
	td.negro{
		background-color: black;
		color: white;
	}
	td.blanco{
		background-color: white ;
		color: black;
	}
	


</style>


<table class="ajedrez" border=1>
	<tr>
        <td class="negro"></td>
		<td class="blanco"></td>
        <td class="negro"></td>
		<td class="blanco"></td>
	</tr>
    <tr>
        <td class="blanco"></td>
		<td class="negro"></td>
        <td class="blanco"></td>
		<td class="negro"></td>
	</tr>
    <tr>
        <td class="negro"></td>
		<td class="blanco"></td>
        <td class="negro"></td>
		<td class="blanco"></td>
	</tr>
    <tr>
        <td class="blanco">&#9814;</td>
		<td class="negro">&#9819;</td>
        <td class="blanco">&#9816;</td>
		<td class="negro"></td>
    </tr>
</table>